.sidebar {
    width: 230px;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.sidebar-logo img {
    height: 35px;
    margin-right: 10px;
}


.sidebar-menu {
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar-menu li {
    margin-bottom: 5px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #444;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.sidebar-menu a:hover {
    background: #f0f7ff;
    color: #0b74de;
}

.sidebar-menu li.active a {
    background: #e8f2ff;
    color: #0b74de;
    font-weight: 600;
}

.sidebar-menu i {
    width: 22px;
    height: 22px;
    background: #d9d9d9;
    margin-right: 10px;
    border-radius: 50%;
}

/* Submenu ẩn mặc định */
.submenu {
    display: none;
    flex-direction: column;
    padding-left: 45px;
    margin-top: 6px;
}

.submenu li {
    list-style: none;
    margin-bottom: 6px;
}

.submenu li a {
    color: #968a8a;
    font-size: 14px;
    text-decoration: none;
}

.submenu li a:hover {
    color: #1a9c73;
}

/* Khi menu mở */
.menu-item.open > .submenu {
    display: flex;
}

/* Style menu chính */
.menu-item {
    margin-bottom: 10px;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-link:hover {
    background: #e8f7f1;
}

.menu-item.open .menu-link {
    background: #dff4eb;
}

.sidebar-logo .logo-text {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    font-family: "Poppins", Arial, sans-serif;
    letter-spacing: 0.5px;
    margin-top: 2px;    /* giúp căn giữa logo và chữ đẹp hơn */
}
